li.nav{
    display:inline;
    margin: 5vw;
    list-style-type:none;
}
#brown {
    border: solid lightblue 5px; 
    width: 80%;
    margin:auto;
    text-align: center;
}
header{
    font-size: 7.5vw;
    font-family: helvetica,sans-serif;
    text-align:center
}
img{
    margin:auto;
}
